@import "../styles/variables.scss";

.card {
  @media (min-width: 1200px) {
    padding: 0 130px 94px 162px;
  }
  padding: 0 32px 94px 32px;
  color: white;
}

.inner {
  justify-content: space-between;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.title {
  color: #0b159d;
  font-size: 44px;
  font-weight: 900;
  margin: 180px 0px 24px 0px;
  @media (max-width: 1200px) {
    font-size: 32px;
  }
}

.info {
  font-size: 18px;
  font-style: italic;
  color: #282828;
  font-weight: 300;

  @media (max-width: 1200px) {
    margin-bottom: 64px;
    font-size: 15px;
  }
}

.list {
  color: $subText-color;
  list-style-type: none;
  counter-reset: my-counter;
  li::before {
    content: "0" counter(my-counter);
    font-size: 10px;
    color: #5a99f7;
  }

  li {
    font-size: 23px;
    margin-bottom: 47px;
    counter-increment: my-counter;
    @media (max-width: 1200px) {
      font-size: 17px;
    }
  }
}
