@import "../styles/variables.scss";

.card {
  padding: 0 130px 94px 162px;
  color: white;

  @media (max-width: $break-point) {
    padding: 0 32px 94px 32px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $break-point) {
    flex-direction: column;
  }
}

.title {
  color: #0b159d;
  font-size: 44px;
  font-weight: 900;
  margin: 180px 0px 24px 0px;

  @media (max-width: $break-point) {
    font-size: 32px;
    margin-top: 0px;
  }
}

.info {
  font-size: 18px;
  font-style: italic;
  color: #282828;
  font-weight: 300;

  @media (max-width: $break-point) {
    margin-bottom: 64px;
    font-size: 15px;
  }
}

.list {
  color: $list-color;
  list-style-type: none;
  counter-reset: list-counter;
  margin: 0px 0px 180px 50px;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-point) {
    margin: 0;
  }

  li {
    font-size: 23px;
    margin-bottom: 47px;
    counter-increment: list-counter;
    position: relative;
    width: 585px;
    @media (max-width: $break-point) {
      font-size: 17px;
      margin-bottom: 64px;
      width: 100%;
    }
  }

  li::before {
    content: "0" counter(list-counter);
    font-size: 10px;
    font-weight: bolder;
    left: calc(-1 * 31px);
    line-height: 2.5;
    color: #5a99f7;
    position: absolute;
    vertical-align: middle;

    @media (max-width: $break-point) {
      display: flex;
      left: 0;
      top: calc(-1 * 31px);
    }
  }
}
