.card {
  @media (min-width: 1200px) {
    display: flex;
  }
  padding: 0 130px 94px 162px;
  height: 900px;
  background-color: #f3f3f4;
  justify-content: space-between;
}

.title {
  color: #0b159d;
  font-size: 44px;
  font-weight: 900;
  margin: 180px 0px 24px 0px;
}

.info {
  font-size: 18px;
  font-style: italic;
  color: #282828;
  font-weight: 300;
}

.cardWrapper {
  @media (min-width: 1200px) {
    display: flex;
    align-self: flex-end;
  }
  flex-wrap: wrap;
  align-self: flex-end;
  width: 628px;
}

.terraCard {
  @media (max-width: 1200px) {
    width: 304px;
    height: 185px;
    background-color: #ffffff;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    div {
      display: flex;
      justify-content: space-around;
      width: 100%;

      form {
        align-self: flex-end;
      }

      article {
        span {
          font-size: 15px;
          color: #a5a5a5;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    width: 628px;
    height: 290px;
    background-color: #ffffff;
    display: flex;
    align-self: flex-end;
    padding: 55px 38px 55px 63px;
    justify-content: space-between;
    text-align: right;
    font-weight: bold;
    font-size: 26px;

    article {
      height: 180px;

      span {
        font-size: 15px;
        color: #a5a5a5;
      }
    }
  }
}

.subCard {
  @media (max-width: 1200px) {
    width: 311px;
    height: 185px;
  }

  width: 304px;
  height: 350px;
  background-color: #ffffff;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  div {
    display: flex;
    justify-content: space-around;
    width: 100%;

    form {
      align-self: flex-end;
    }

    article {
      span {
        font-size: 15px;
        color: #a5a5a5;
      }
    }
  }
}

.subCard:last-child {
  @media (min-width: 1200px) {
    margin-left: 20px;
  }
}

.img {
  @media (max-width: 1200px) {
    width: 64px;
    height: 64px;
    justify-self: flex-end;
  }
}
