.card {
  padding: 0 0 94px 162px;
  color: white;
}

.inner {
  display: flex;
}

.img {
  justify-self: center;
}

.text {
  align-self: center;
  margin-right: 150px;
}

.title {
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 46px;
}

.info {
  font-size: 18px;
  font-style: italic;
  opacity: 0.65;
}

.learn {
  margin-top: 18px;

  span {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}
