@import "../styles/variables.scss";

.card {
  @media (min-width: $break-point) {
    padding: 0 130px 94px 162px;
    background-image: url("../images/img-header.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 1080px;
  }
  height: 642px;
  background-image: url("../images/img-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 0 32px 94px 32px;
  color: white;
  display: flex;
}

.inner {
  display: flex;
  width: 100%;
}

.img {
  justify-self: center;
}

.text {
  align-self: center;
  margin-right: 150px;
}

.title {
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 46px;

  @media (max-width: $break-point) {
    font-size: 52px;
  }
}

.info {
  font-size: 18px;
  font-style: italic;
  opacity: 0.65;

  @media (max-width: $break-point) {
    font-size: 15px;
  }
}

.learn {
  margin-top: 18px;
  display: flex;
  span {
    align-self: center;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button {
  background: none;
  border: none;

  img {
    width: 26px;
  }
}
