@import "../styles/variables.scss";

.header {
  background-image: linear-gradient(to bottom, #151ea2, #0e1ac4 73%);
}

.card {
  color: $white;
  display: flex;
  padding: 0 130px 0px 162px;
  background-image: url("../images/img-header.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 1080px;
  @media (max-width: $break-point) {
    padding: 0px 0px 200px 32px;
    background-image: url("../images/img-header-mobile.png");
    background-repeat: no-repeat;
    background-position: right top;
    height: 720px;
  }
}

.inner {
  display: flex;
  width: 100%;
}

.img {
  justify-self: center;
}

.text {
  align-self: center;
  margin-right: 150px;
}

.title {
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 46px;

  @media (max-width: $break-point) {
    font-size: 52px;
  }
}

.info {
  font-size: 18px;
  font-style: italic;
  opacity: 0.65;
  line-height: 1.56;

  @media (max-width: $break-point) {
    font-size: 15px;
  }
}

.learn {
  margin-top: 18px;
  display: flex;
  span {
    align-self: center;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button {
  background: none;
  border: none;

  img {
    width: 26px;
  }
}
