@import "/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
}

.header {
  background-image: linear-gradient(to bottom, #151ea2, #0e1ac4 73%);
}
