@import url('https://cloud.typography.com/7420256/6416592/css/fonts.css');

body, button {
  margin: 0;
  font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}